In [1]:
import numpy as np
import pandas as pd

class Die:
    def __init__(self,faces: np.array):
        """Initialization method, ensure that faces is a NumPy array of distinct int/float"""
        #first make sure faces is a NumPy array
        if type(faces) != np.ndarray:
            raise TypeError("Parameter faces must be a NumPy array")
        
        #TODO: ??Maybe ensure that it is string/numeric dtype?
        #If so use np.issubdtype 
        
        #Make sure the values of faces are unique
        if faces.size != np.unique(faces).size:
            raise ValueError("The values of input faces must be unique")
        
        base_weight = [1.0]*faces.size
        self.df = pd.DataFrame(index=faces, data={'Weight':base_weight})
        
    def change_weight(self,fval,weight):
        """Method to change the weight of a single side.  Must ensure the fval is a valid index and the weight can be cast as numeric"""
        #make sure it is a valid face name
        if fval not in self.df.index:
            raise IndexError("Your fval is not a valid face name")
        #Make sure the weight can be cast to a numeric
        try:
            float(weight)
        except ValueError :
            raise TypeError("weight must be able to be converted to a number")
            
        self.df.loc[fval,'Weight'] = float(weight)
        
    def roll_die(self,num_rolls=1):
        #todo, update to get working
        tmp = list(self.df.sample(n=num_rolls,replace=True,weights=self.df['Weight']).index)
        return tmp
    
    def show_die(self):
        """Method returning the data frame representing the die"""
        return self.df

In [2]:
ind = np.array(['A','B','C','D','E','F'])
#ind

In [3]:
ind

array(['A', 'B', 'C', 'D', 'E', 'F'], dtype='<U1')

In [4]:
test2=Die(ind)

In [5]:
test2.show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     1.0

In [6]:
test2.change_weight("F",3)
test2.show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     3.0

In [7]:
type(test2.roll_die(3))

list

In [8]:
#test.df.sample(n=10,replace=True,weights=test.df['Weight']).index

In [9]:
#import random

#tst=random.choices(population=test.df.index,weights=test.df['Weight'], k=5)
#tst
#test.df['Weight']

In [10]:
test=Die(ind)
test2=Die(ind)
test3=Die(ind)
test4=Die(ind)

test.show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     1.0

In [11]:
game_test=[test,test2,test3,test4]
type(game_test)

list

In [12]:
game_test[0].show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     1.0

In [13]:
for x in game_test:
    print(game_test.index(x))

0
1
2
3

In [14]:
num_rolls=4

result = dict()

for x in game_test:
    key=game_test.index(x)
    vals=x.roll_die(num_rolls)
    result.update({key:vals})
    print(x)

pd.DataFrame(result)

<__main__.Die object at 0x00000236E2908690>
<__main__.Die object at 0x0000023682864B90>
<__main__.Die object at 0x000002368281ED70>
<__main__.Die object at 0x000002368281EEA0>

   0  1  2  3
0  E  C  E  E
1  F  B  E  F
2  E  F  C  E
3  B  A  F  A

In [15]:
f=list(range(1,num_rolls+1))

In [16]:
test.show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     1.0

In [17]:

class Game:
    """Game class expecting a list of die"""
    
    def __init__(self,dice):
        self.dice=dice
    
    def play(self, num_rolls):
        """Takes the number of rolls as only parameter.  Creates/updates the outcome object with the results"""
        result_d = dict()
        for i, die in enumerate(self.dice):
            vals = die.roll_die(num_rolls)
            result_d[i] = vals
            
        # Create a DataFrame from the dictionary of results
        self._outcome = pd.DataFrame(result_d)
        self._outcome.index.name = 'Roll_Num'
        self._outcome.columns.name = 'Die_Num'
        

        
    def show_outcome(self,view="wide"):
        """Method returning the result. Options include wide and narrow, default value of wide. 
        Narrow is a stacked version of the wide format.
        
            
        Raises:
            ValueError: If view parameter is not 'wide' or 'narrow'
        """
        if view.upper() == "WIDE":
            return self._outcome
        elif view.upper() == "NARROW":
            # Stack the columns to create a MultiIndex with roll number and die number
            narrow_df = self._outcome.stack().reset_index()
            # Rename columns appropriately
            narrow_df.columns = ['Roll Number', 'Die Number', 'Outcome']
            # Set MultiIndex using roll number and die number
            narrow_df = narrow_df.set_index(['Roll Number', 'Die Number'])
            return narrow_df
        else:
            raise ValueError("view must be either wide or narrow")

In [18]:
test2.show_die()

tmp_lst = [test2,test2]

#test_game=Game(

In [19]:
test_game = Game(tmp_lst)

test_game.play(4)

In [20]:
t=test_game.show_outcome("wide")
t

Die_Num   0  1
Roll_Num
0         D  F
1         B  E
2         C  C
3         E  C

In [21]:
z=test_game.show_outcome("narrow")
z

                       Outcome
Roll Number Die Number
0           0                D
            1                F
1           0                B
            1                E
2           0                C
            1                C
3           0                E
            1                C

In [22]:
z.index.get_level_values

<bound method MultiIndex.get_level_values of MultiIndex([(0, 0),
            (0, 1),
            (1, 0),
            (1, 1),
            (2, 0),
            (2, 1),
            (3, 0),
            (3, 1)],
           names=['Roll Number', 'Die Number'])>

In [23]:
s=pd.MultiIndex.from_frame(t)

s

MultiIndex([('D', 'F'),
            ('B', 'E'),
            ('C', 'C'),
            ('E', 'C')],
           names=[0, 1])

In [24]:
for x in test_game.dice:
    print(x)

<__main__.Die object at 0x0000023682864B90>
<__main__.Die object at 0x0000023682864B90>

In [25]:
i="narrow"

print(((i.upper()=="WIDE")or(i.upper()=="NARROW")))

True

In [26]:
quick = 'a'
proof=[quick,quick,quick]

for x in proof:
    print(x)

a
a
a

In [27]:
z

                       Outcome
Roll Number Die Number
0           0                D
            1                F
1           0                B
            1                E
2           0                C
            1                C
3           0                E
            1                C

In [46]:
import pandas as pd
from itertools import combinations_with_replacement, permutations
from collections import Counter
from game import Game

class Analyzer:
    """
    A class to analyze the results of a dice game.
    Takes the results of a single game and computes various descriptive statistical properties about it.
    """
    
    def __init__(self, game):
        """
        Initialize an Analyzer with a Game object.
        Throws error is input, game, is not a Game object.
        """
        if not isinstance(game, Game):
            raise ValueError("Input must be a Game object")
        self.game = game
        
    def jackpot(self):
        """ Compute how many times the game resulted in all faces being the same.
        Takes no input and returns the number of jackpots as a number.
        """
        # Get the results in wide format
        results = self.game.show_outcome("wide")
        # Check each row (roll) to see if all values in that roll are the same
        jackpots = results.apply(lambda x: x.nunique() == 1, axis=1)
        return int(jackpots.sum())
    
    def face_counts_per_roll(self):
        """
        Compute how many times each face appears in each roll.
        The result is a DataFrame.
        """
        # Get results in wide format
        results = self.game.show_outcome("wide")
        # Get unique faces from the results
        all_faces = pd.unique(results.values.ravel())
        
        # Create a new dataframe to store counts
        counts_df = pd.DataFrame(index=results.index)
        
        # For each face, count occurrences in each roll
        for face in all_faces:
            counts_df[face] = results.apply(lambda x: (x == face).sum(), axis=1)
            
        return counts_df
    
    def combo_count(self):
        """
        Compute the distinct combinations of faces rolled along with their counts.
        Returns a DataFrame with MultiIndex of distinct combinations and a column for the associated counts
        """
        # Get results in wide format
        results = self.game.show_outcome("wide")
        
        # Convert each roll to a sorted tuple (order-independent)
        combos = results.apply(lambda x: tuple(sorted(x)), axis=1)
        
        # Count occurrences of each combination
        combo_counts = Counter(combos)
        
        # Convert to dataframe with MultiIndex
        df = pd.DataFrame.from_dict(combo_counts, orient='index', columns=['Count'])
        df.index = pd.MultiIndex.from_tuples(df.index)
        
        return df
    
    def permutation_count(self):
        """
        Compute the distinct permutations of faces rolled along with their counts.
        Permutations are order-dependent and may contain repetitions.
        
        Returns a dataframe with MultiIndex of distinct permutations and a column for the associated counts
        """
        # Get results in wide format
        results = self.game.show_outcome("wide")
        
        # Convert each roll to a tuple (maintaining order)
        perms = results.apply(lambda x: tuple(x), axis=1)
        
        # Count occurrences of each permutation
        perm_counts = Counter(perms)
        
        # Convert to dataframe with MultiIndex
        df = pd.DataFrame.from_dict(perm_counts, orient='index', columns=['Count'])
        df.index = pd.MultiIndex.from_tuples(df.index)
        
        return df

In [51]:
test2.change_weight("F",5)
test2.show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     5.0

In [52]:
game_test_2=Game([test2,test2,test2])

game_test_2.play(4)
analyze_test = Analyzer(game_test_2)

In [53]:
game_test_2.show_outcome("wide")

Die_Num   0  1  2
Roll_Num
0         F  F  C
1         E  C  F
2         F  F  F
3         B  F  F

In [54]:
analyze_test.jackpot()

1

In [55]:
analyze_test.face_counts_per_roll()

          F  C  E  B
Roll_Num
0         2  1  0  0
1         1  1  1  0
2         3  0  0  0
3         2  0  0  1

In [57]:
game_test_2.show_outcome().apply(lambda x: tuple(sorted(x)), axis=1)

Roll_Num
0    (C, F, F)
1    (C, E, F)
2    (F, F, F)
3    (B, F, F)
dtype: object

In [60]:
a=Counter(game_test_2.show_outcome().apply(lambda x: tuple(sorted(x)), axis=1))
a

Counter({('C', 'F', 'F'): 1,
         ('C', 'E', 'F'): 1,
         ('F', 'F', 'F'): 1,
         ('B', 'F', 'F'): 1})

In [65]:
 # Convert to dataframe with MultiIndex
df = pd.DataFrame.from_dict(a, orient='index', columns=['Count'])
#df
df.index

Index([('C', 'F', 'F'), ('C', 'E', 'F'), ('F', 'F', 'F'), ('B', 'F', 'F')], dtype='object')

In [67]:
df.index = pd.MultiIndex.from_tuples(df.index)
df

       Count
C F F      1
  E F      1
F F F      1
B F F      1

In [ ]:
analyze_test.combo_count()

       Count
C F F      1
  E F      1
F F F      1
B F F      1