In [4]:
import numpy as np
import pandas as pd

class Die:
    def __init__(self,faces: np.array):
        """Initialization method, ensure that faces is a NumPy array of distinct int/float"""
        #first make sure faces is a NumPy array
        if type(faces) != np.ndarray:
            raise TypeError("Parameter faces must be a NumPy array")
        
        #TODO: ??Maybe ensure that it is string/numeric dtype?
        #If so use np.issubdtype 
        
        #Make sure the values of faces are unique
        if faces.size != np.unique(faces).size:
            raise ValueError("The values of input faces must be unique")
        
        base_weight = [1.0]*faces.size
        self.df = pd.DataFrame(index=faces, data={'Weight':base_weight})
        
    def change_weight(self,fval,weight):
        """Method to change the weight of a single side.  Must ensure the fval is a valid index and the weight can be cast as numeric"""
        #make sure it is a valid face name
        if fval not in self.df.index:
            raise IndexError("Your fval is not a valid face name")
        #Make sure the weight can be cast to a numeric
        try:
            float(weight)
        except ValueError :
            raise TypeError("weight must be able to be converted to a number")
            
        self.df.loc[fval,'Weight'] = float(weight)
        
    def roll_die(self,num_rolls=1):
        #todo, update to get working
        tmp = list(self.df.sample(n=num_rolls,replace=True,weights=self.df['Weight']).index)
        return tmp
    
    def show_die(self):
        """Method returning the data frame representing the die"""
        return self.df

In [5]:
ind = np.array(['A','B','C','D','E','F'])
ind

array(['A', 'B', 'C', 'D', 'E', 'F'], dtype='<U1')

In [6]:
test2=Die(ind)

In [8]:
test2.show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     1.0

In [11]:
test2.change_weight("F",3)
test2.show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     3.0

In [12]:
type(test2.roll_die(3))

list

In [13]:
test.df.sample(n=10,replace=True,weights=test.df['Weight']).index

NameError: name 'test' is not defined

In [27]:
import random

tst=random.choices(population=test.df.index,weights=test.df['Weight'], k=5)
tst
#test.df['Weight']

['E', 'F', 'B', 'E', 'C']

In [14]:
test=Die(ind)
test2=Die(ind)
test3=Die(ind)
test4=Die(ind)

In [107]:
game_test=[test,test2,test3,test4]
type(game_test)

list

In [109]:
game_test[0].show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     1.0

In [123]:
for x in game_test:
    print(game_test.index(x))

0
1
2
3

In [139]:
num_rolls=4

result = dict()

for x in game_test:
    key=game_test.index(x)
    vals=x.roll_die(num_rolls)
    result.update({key:vals})

pd.DataFrame(result, index=list(range(1,num_rolls+1)))

   0  1  2  3
1  F  F  B  A
2  E  F  B  E
3  E  E  F  D
4  A  A  E  B

In [143]:
f=list(range(1,num_rolls+1))

'[1, 2, 3, 4]'

In [1]:
class Game:
    """Game class expecting a list of die"""
    
    def __init__(self,dice):
        self.dice=dice
    
    def play(self, num_rolls):
        """Takes the number of rolls as only parameter.  Creates/updates the outcome object with the results"""
        result_d = dict()
        for x in self.dice:
            key=game_test.index(x)
            vals=x.roll_die(num_rolls)
            result_d.update({key:vals})
            
        #Using for 1 based roll index, not needed but I should name (die_num and roll_num)
        #TODO: Make private and get rid of 1 based index
        self.outcome=pd.DataFrame(result_d, index=list(range(1,num_rolls+1)))

In [17]:
test2.show_die()

tmp_lst = [test2,test2]

#test_game=Game(

In [19]:
test_game = Game(tmp_lst)

test_game