In [26]:
import numpy as np
import pandas as pd

class Die:
    def __init__(self,faces: np.array):
        """Initialization method, ensure that faces is a NumPy array of distinct int/float"""
        #first make sure faces is a NumPy array
        if type(faces) != np.ndarray:
            raise TypeError("Parameter faces must be a NumPy array")
        
        #TODO: ??Maybe ensure that it is string/numeric dtype?
        #If so use np.issubdtype 
        
        #Make sure the values of faces are unique
        if faces.size != np.unique(faces).size:
            raise ValueError("The values of input faces must be unique")
        
        base_weight = [1.0]*faces.size
        self.df = pd.DataFrame(index=faces, data={'Weight':base_weight})
        
    def change_weight(self,fval,weight):
        """Method to change the weight of a single side.  Must ensure the fval is a valid index and the weight can be cast as numeric"""
        #make sure it is a valid face name
        if fval not in self.df.index:
            raise IndexError("Your fval is not a valid face name")
        #Make sure the weight can be cast to a numeric
        try:
            float(weight)
        except ValueError :
            raise TypeError("weight must be able to be converted to a number")
            
        self.df.loc[fval,'Weight'] = float(weight)
        
    def roll_die(self,num_rolls=1):
        #todo, update to get working
        tmp = list(self.df.sample(n=num_rolls,replace=True,weights=self.df['Weight']).index)
        return tmp
    
    def show_die(self):
        """Method returning the data frame representing the die"""
        return self.df

In [27]:
ind = np.array(['A','B','C','D','E','F'])
ind

array(['A', 'B', 'C', 'D', 'E', 'F'], dtype='<U1')

In [28]:
test2=Die(ind)

In [29]:
test2.show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     1.0

In [30]:
test2.change_weight("F",3)
test2.show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     3.0

In [31]:
type(test2.roll_die(3))

list

In [ ]:
#test.df.sample(n=10,replace=True,weights=test.df['Weight']).index

NameError: name 'test' is not defined

In [33]:
import random

tst=random.choices(population=test.df.index,weights=test.df['Weight'], k=5)
tst
#test.df['Weight']

NameError: name 'test' is not defined

In [38]:
test=Die(ind)
test2=Die(ind)
test3=Die(ind)
test4=Die(ind)

In [39]:
game_test=[test,test2,test3,test4]
type(game_test)

list

In [40]:
game_test[0].show_die()

   Weight
A     1.0
B     1.0
C     1.0
D     1.0
E     1.0
F     1.0

In [41]:
for x in game_test:
    print(game_test.index(x))

0
1
2
3

In [42]:
num_rolls=4

result = dict()

for x in game_test:
    key=game_test.index(x)
    vals=x.roll_die(num_rolls)
    result.update({key:vals})
    print(x)

pd.DataFrame(result)

<__main__.Die object at 0x0000026FB1875BD0>
<__main__.Die object at 0x0000026FB1875E50>
<__main__.Die object at 0x0000026FB1A08510>
<__main__.Die object at 0x0000026FB1A082B0>

   0  1  2  3
0  A  B  B  F
1  A  F  D  B
2  A  C  F  D
3  D  C  A  E

In [ ]:
f=list(range(1,num_rolls+1))

'[1, 2, 3, 4]'

In [60]:

class Game:
    """Game class expecting a list of die"""
    
    def __init__(self,dice):
        self.dice=dice
    
    def play(self, num_rolls):
        """Takes the number of rolls as only parameter.  Creates/updates the outcome object with the results"""
        result_d = dict()
        for i, die in enumerate(self.dice):
            vals = die.roll_die(num_rolls)
            result_d[i] = vals
            
        # Create a DataFrame from the dictionary of results
        self._outcome = pd.DataFrame(result_d)
        self._outcome.index.name = 'Roll_Num'
        self._outcome.columns.name = 'Die_Num'
        

        
    def show_outcome(self,view="wide"):
        """Method returning the result. Options include wide and narrow, default value of wide. 
        Narrow is a stacked version of the wide format.
        
            
        Raises:
            ValueError: If view parameter is not 'wide' or 'narrow'
        """
        if view.upper() == "WIDE":
            return self._outcome
        elif view.upper() == "NARROW":
            # Stack the columns to create a MultiIndex with roll number and die number
            narrow_df = self._outcome.stack().reset_index()
            # Rename columns appropriately
            narrow_df.columns = ['Roll Number', 'Die Number', 'Outcome']
            # Set MultiIndex using roll number and die number
            narrow_df = narrow_df.set_index(['Roll Number', 'Die Number'])
            return narrow_df
        else:
            raise ValueError("view must be either wide or narrow")

In [61]:
test2.show_die()

tmp_lst = [test2,test2]

#test_game=Game(

In [62]:
test_game = Game(tmp_lst)

test_game.play(4)

In [63]:
t=test_game.show_outcome("wide")
t

Die_Num   0  1
Roll_Num
0         B  F
1         C  E
2         C  C
3         D  E

In [ ]:
z=test_game.show_outcome("narrow")
z

pandas.core.frame.DataFrame

True

In [67]:
s=pd.MultiIndex.from_frame(t)

s

MultiIndex([('B', 'F'),
            ('C', 'E'),
            ('C', 'C'),
            ('D', 'E')],
           names=[0, 1])

In [ ]:
for x in test_game.dice:
    print(x)

<__main__.Die object at 0x000001FD7F0D7610>
<__main__.Die object at 0x000001FD7F0D7610>

In [ ]:
i="narrow"

print(((i.upper()=="WIDE")or(i.upper()=="NARROW")))

True

In [ ]:
quick = 'a'
proof=[quick,quick,quick]

for x in proof:
    print(x)

a
a
a

In [68]:
 df = pd.DataFrame(
     [["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]],
     columns=["first", "second"],
 )
 

df

  first second
0   bar    one
1   bar    two
2   foo    one
3   foo    two

In [72]:
qa=pd.MultiIndex.from_frame(df)

qa.get_level_values(0)
qa.get_level_values(1)

Index(['one', 'two', 'one', 'two'], dtype='object', name='second')